<h3><strong>Conceptos Tecnicos</strong></h3>
<h4><strong>Resumen de Variables utilizadas</strong></h4>
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
<td style="width: 50%; vertical-align: top;">
    <table style="border-collapse: collapse" border="1">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">&nbsp;</td>
        <td style="width: 40%; height: 18px;">Variable</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">propiedades el&aacute;sticas</td>
        <td style="width: 40%; height: 18px;">C<sub>jlki</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">propiedades diel&eacute;ctricas</td>
        <td style="width: 40%; height: 18px;">K<sub>iki</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">propiedades piezoelectricas</td>
        <td style="width: 40%; height: 18px;">e<sub>kiji</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">propiedades piezomagn&eacute;ticas</td>
        <td style="width: 40%; height: 18px;">q<sub>kiji</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">coeficientes magnetoel&eacute;ctricos</td>
        <td style="width: 40%; height: 18px;">&alpha;<sub>ij</sub>i</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">permitividad magn&eacute;tica</td>
        <td style="width: 40%; height: 18px;">&mu;<sub>ij</sub>i</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">&nbsp;</td>
        <td style="width: 40%; height: 18px;">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</td>
<td style="width: 50%; vertical-align: top;">
    <table style="border-collapse: collapse" border="1">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">&nbsp;</td>
        <td style="width: 40%; height: 18px;">Variable</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">deformacion</td>
        <td style="width: 40%; height: 18px;">&isin;<sub>kl</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">tensor tensiones</td>
        <td style="width: 40%; height: 18px;">&delta;<sub>ij</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">campo electrico</td>
        <td style="width: 40%; height: 18px;">E<sub>k</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">campo magnetico</td>
        <td style="width: 40%; height: 18px;">H<sub>k</sub></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">vector de desplazamiento</td>
        <td style="width: 40%; height: 18px;">D<sup>&rarr;</sup></td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 60%; height: 18px;">vector de densidad de flujo magnetico</td>
        <td style="width: 40%; height: 18px;">B<sup>&rarr;</sup></td>
        </tr>
        </tbody>
    </table>
</td>
</tr>
</tbody>
</table>

<h4><strong>Explicacion de las principales variables</strong></h4>

<ul>
<li style="text-align: justify;">Las <strong>propiedades el&aacute;sticas</strong> est&aacute;n dadas por el <strong>tensor C<sub>ijlk</sub> </strong>y expresa la deformaci&oacute;n que sufrir&aacute; el cuerpo al aplicar sobre &eacute;l una fuerza.</li>
<li style="text-align: justify;">El <strong>tensor K<sub>ik</sub></strong> representa a las <strong>propiedades diel&eacute;ctricas</strong>. Cuando un campo el&eacute;ctrico es aplicado a un medio diel&eacute;ctrico, una corriente fluye. El total de corriente fluyendo en un material diel&eacute;ctrico real est&aacute; compuesto por dos partes: una conducci&oacute;n y un desplazamiento de corriente. La corriente de desplazamiento puede imaginarse como la respuesta el&aacute;stica de un material diel&eacute;ctrico a campo aplicado, y esto es lo que caracteriza este tensor.</li>
<li style="text-align: justify;">La <strong>piezoelectricidad</strong> es la habilidad de ciertos cristales de generar un voltaje en respuesta a la aplicaci&oacute;n de una fuerza mec&aacute;nica. Esta caracter&iacute;stica est&aacute; descrita por el <strong>tensor e<sub>kij</sub></strong> . El efecto piezoel&eacute;ctrico es reversible en el material piezoel&eacute;ctrico, cuando es sujeto a la aplicaci&oacute;n de un voltaje externo. Estos materiales tienen gran utilidad en la producci&oacute;n o detecci&oacute;n de sonidos, generaci&oacute;n de altos voltajes, generaci&oacute;n de frecuencias electr&oacute;nicas, microbalance y enfoque ultrafinos de ensamblados &oacute;pticos.</li>
<li style="text-align: justify;">Las <strong>propiedades piezomagn&eacute;ticas</strong> describen, al igual que las piezoel&eacute;ctricas, cambios de energ&iacute;a. En este caso, el <strong>tensor q<sub>kij</sub></strong>, describe el campo magn&eacute;tico que genera el cuerpo a partir de una deformaci&oacute;n mec&aacute;nica. Este efecto tambi&eacute;n es reversible y sumamente utilizado en la industria.</li>
<li style="text-align: justify;">Los <strong>coeficientes magnetoel&eacute;ctricos</strong> conforman el <strong>tensor &alpha;<sub>ij</sub></strong>. Este describe el efecto magnetoel&eacute;ctrico, que es la capacidad de convertir la energ&iacute;a de un sistema de un tipo a otro (entre energ&iacute;as magn&eacute;ticas, el&eacute;ctricas y mec&aacute;nicas). <a title="Coeficientes Magneto Electricos" href="link">Ver Tabla de Coeficientes Magnetoelectricos.</a></li>
<li style="text-align: justify;">La <strong>permitividad magn&eacute;tica</strong> es una medida f&iacute;sica que describe c&oacute;mo un campo magn&eacute;tico afecta y es afectado por un medio. La permitividad est&aacute; descrita por el <strong>tensor &mu;<sub>ij </sub></strong>y es la habilidad que posee un material de polarizarse en respuesta a un campo magn&eacute;tico aplicado y, de esa forma, cancelar parcialmente el campo dentro del material.</li>
</ul>

<h4><strong>Modelo Magneto-Electro-Eslasticidad</strong></h4>

<h5>Tensor de tensiones</h5>
<p>
    &delta;<sub>ij</sub>= C<sub>ijlk</sub> * &isin;<sub>kl</sub> + &nbsp;e<sub>kij</sub> * E<sub>k</sub> - q<sub>kij</sub> * &nbsp;H<sub>k</sub>
</p>

<h5>Vector de Desplazamiento</h5>
<p>
    D<sub>i</sub> = e<sub>kij</sub> * &isin;<sub>kl</sub> + K<sub>ik </sub>* E<sub>k</sub> + &alpha;<sub>ij</sub> * H<sub>k</sub>    
</p>

<h5>Vector de Densidad de flujo magnetico</h5>
<p>
    B<sub>i</sub> = &nbsp;q<sub>kij</sub> * &isin;<sub>kl</sub> + K<sub>ik</sub> * E<sub>k</sub> + &nbsp;&mu;<sub>ij</sub> * H<sub>k</sub>
</p>