<form (click)="activartab( $event )"> 
  <div class="tab">
      <button type="submit" class="tablinks" id="tab1" value="tab1"><div class ="divmenuprocc">Laminated <br />Designer</div></button>
      <button type="submit" class="tablinks" id="tab2" value="tab2"><div class ="divmenuprocc">Fibrous <br />Designer</div></button>
      <button type="submit" class="tablinks" id="tab3" value="tab3"><div class ="divmenuprocc">MAterial <br />Editor</div></button>
      <button type="submit" class="tablinks" id="tab4" value="tab4"><div class ="divmenuprocc">Test <br />Mode</div></button>
      <button type="submit" class="tablinks" id="tab5" value="tab5"><div class ="divmenuprocc">Techical <br>Data</div></button>
  </div>
</form>